pydantic~=2.10.6
aiogram~=3.17.0
fastapi~=0.115.8
starlette~=0.41.2
motor~=3.6.0
uvicorn~=0.34.0
beanie~=1.27.0
aiohttp[speedups]~=3.11.12
uvloop~=0.21.0; sys_platform == 'linux' or sys_platform == 'darwin'
